{# hgbd_project/hgbd/website/templates/website/components/footer_container.html #}
{% load website_helpers %}

<div id="footer-container">
    <span class="square-holder"></span>
    <div class="phone-holder">
        <a href="tel:+{{ contacts.phone|sift_digits }}">{{ contacts.phone }}</a>
    </div>
    <div class="mail-holder">
        <a href="mailto:{{ contacts.email }}">{{ contacts.email }}</a>
    </div>
    <p>{{ contacts.address_post }}</p>

    {% include 'website/components/footer.html' only %}

    <div id="scroll-top-btn">
        <span class="arrow"></span>
    </div>
</div>
