{# hgbd_project/hgbd/website/templates/website/components/footer.html #}
{% load staticfiles i18n website_helpers %}

<footer id="footer">
    <figure>
        <a href="http://cheersunlimited.com.ua" title="CHEERS - Unlimited Web Production" target="_blank">
            <img src="{% static 'website/images/cheers-logo.png' %}" alt="CHEERS - Unlimited Web Production logo">
        </a>
    </figure>
    <small>

        {% filter interpolate_with_timeline:'2016' %}

            {% blocktrans %}
                © HG Business Development, %s.
                Web production by <a href="http://cheersunlimited.com.ua" target="_blank">CHEERS</a>
            {% endblocktrans %}

        {% endfilter %}
    </small>
</footer>
