{# hgbd_project/hgbd/website/templates/website/service.html #}
{% extends 'layout.html' %}

{% load staticfiles i18n website_helpers bleach_tags %}

{% block title %}
    {{ service.title }} | {{ METADATA.title }} | {% trans 'HG Business Development' noop %}
{% endblock %}

{% block meta %}
    {{ block.super }}
    <meta name="description" content="{{ service.description }}">
    <meta name="robots" content="{{ METADATA.robots }}">
{% endblock %}

{% block open_graph %}
    {{ block.super }}
    <meta property="og:title" content="{{ service.title }} | {{ METADATA.title }} | {% trans 'HG Business Development' noop %}">
    <meta property="og:description" content="{{ service.description }}">
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'website/css/service.bundle.min.css' %}">
{% endblock %}

{% block body %}
    <div id="page">
        <main id="content">
            <article class="container service-container">

                {% include 'website/components/header.html' with request=request contacts=contacts only %}

                <section class="container intro-container">
                    <div class="intro-info-holder">
                        <div class="photo-holder">
                            <figure>
                                <img src="{{ service.image_main.url }}" alt="{{ service.title }}">
                            </figure>
                        </div>
                        <div class="info-holder">
                            <span class="square-holder"></span>
                            <h1>{{ service.headline|bleach }}</h1>
                        </div>
                    </div>
                </section>
                <section class="container about-container">
                    <div class="about-pane-holder">
                        <span class="square-holder"></span>
                        <h2>{{ service.title }}</h2>
                        <h3>{{ service.about_label }}</h3>

                        {% paragraphize service.about_description '<p>' '</p>' %}

                    </div>
                    <div class="explanation-pane-holder">
                        <span class="square-holder"></span>
                        <h2>{{ service.hint_title }}</h2>

                        {% paragraphize service.hint_description '<p>' '</p>' %}

                    </div>
                </section>
                <section class="container information-container">
                    <div class="photo-holder">
                        <figure>
                            <img src="{{ service.image_list.url }}" alt="{{ service.title }}">
                        </figure>
                    </div>
                    <div class="tabs-container">
                        <ul>

                            {% for service_list in service.get_service_lists %}
                                <li class="tab-label {% if forloop.first %}active{% endif %}">
                                    <span>{{ service_list.label }}</span>
                                </li>
                            {% endfor %}

                        </ul>
                        <div class="tab-content-holder">

                            {% for service_list in service.get_service_lists %}
                                <div class="tab-content {% if forloop.first %}active{% endif %}">
                                    <span class="square-holder"></span>
                                    <h3>{{ service_list.title }}</h3>
                                    <ul>

                                        {% for service_list_item in service_list.get_service_list_items %}
                                            <li>
                                                <span class="number">{{ forloop.counter|stringformat:"02d." }}</span>
                                                <p>{{ service_list_item.text }}</p>
                                            </li>
                                        {% endfor %}

                                    </ul>
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                </section>

                {% include 'website/components/prefooter.html' with content_for_get_in_touch=content.get_in_touch only %}

                {% include 'website/components/footer_container.html' with contacts=contacts only %}

            </article>
        </main>
    </div>

    {% include 'website/components/loader.html' only %}

    {% include 'website/components/landscape.html' only %}

{% endblock %}

{% block javascripts %}
    <script src="{% static 'website/js/service.bundle.min.js' %}"></script>
{% endblock %}
