{# hgbd_project/hgbd/website/templates/website/forms/cooperation.html #}
{% load i18n %}

<form action="{% url 'website:cooperation_send' %}" method="POST" id="feedback-form" novalidate>
    <div id="response-holder" data-close-notify="клацніть щоб закрити"></div>

    <div class="field-holder">
        {{ form.name }}
    </div>
    <div class="field-holder">
        {{ form.email }}
    </div>
    <div class="field-holder">
        {{ form.message }}
    </div>

    {{ form.honeypot }}

    <button type="submit" class="ajax-loading" id="feedback-btn">
        <span class="text">{% trans 'Надіслати' %}</span>
        <span class="loading-holder">
            <span></span>
        </span>
    </button>
</form>
